.svg-create {
    transition: transform 200ms ease-in-out 0s;
    transform: rotate(0deg);
    height: 32px;
    width: 32px;
    fill: rgb(219, 218, 210);
    padding-bottom: 5px;
    cursor: pointer;
}

.svg-create-filled {
    fill: rgb(93, 227, 114);
    height: 32px;
    width: 32px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: transform 200ms ease-in-out 0s;
    transform: rotate(0deg);
}

.create-review-div {
    height: 554px;
    width: 100%;
    position: absolute;
    top: 17%;
    z-index: 99;
}

.create-review-modal {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.create-review-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    padding: 20px 20px;
}

.create-review-form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 32px;
    gap: 0px;
    padding: 12px;
    border-radius: 16px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 494px;
    box-shadow: 0 0 8px rgba(0,0,0,0.8);
    font-family: 'Manrope', sans-serif;
    height: 520px;
    width: 45%;
    position: relative;
    word-wrap: break-word;
}

.create-review-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 120px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 8px;
    word-wrap: break-word;
    word-break: break-all;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: #2b381f;
    font-weight: 500;
    resize: none;
    overflow: hidden;
    line-height: 1.7;;
}

.create-review-field-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 120px;
    border: 1px solid rgb(160, 0, 0);
    border-radius: 8px;
    word-wrap: break-word;
    word-break: break-all;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: #2b381f;
    font-weight: 500;
    resize: none;
    overflow: hidden;
    line-height: 1.7;;
}

.create-review-field:focus {
    border: 1px solid rgb(190, 190, 190);

}

.rating-star-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.create-review-field-header {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: #2b381f;
    font-weight: 500;
    padding-bottom: 10px;
}

.create-review-header {
    font-family: 'Manrope', sans-serif;
    font-size: 26px;
    color: #2b381f;
    font-weight: 1000;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.create-review-button {
    font-family: 'Manrope', sans-serif;
    border-color: #2c5601;
    background-color: #2c5601;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    height: 48px;
    padding: 24px 24px;
    margin-top: 20px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 2px solid transparent;
    cursor: pointer;
    align-self: flex-end;

}

.create-review-button-disabled {
    font-family: 'Manrope', sans-serif;
    border-color: rgba(225, 225, 225, 0.7);
    background-color: rgba(205, 205, 205, 0.7);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    height: 48px;
    padding: 24px 24px;
    margin-top: 20px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 2px solid transparent;
    cursor: pointer;
    align-self: flex-end;
    pointer-events: none;
}

.create-review-button:hover {
    background-color: #2b381f;
}

.star-div {
    padding-right: 6px;
}

.create-errors-list-item {
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    margin-bottom: 15px;
    align-self: flex-start;
    padding: 0px;
    color: rgb(163, 0, 0);
    font-size: 11px;
}

.create-errors-list {
    padding:10px;
}