.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

.header {
    width: 100%;
}

.logo {
    width: 38px;
    height: 38px;
    margin-right: 10px;
}

.logo-link {
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
}