.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    margin-top: 0px;
}

.header {
    width: 100%;
}

.logo {
    width: 58px;
    height: 58px;
    margin-right: 10px;
}

.logo-link {
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
}

.nav-button {
    padding: 3px;
    margin: 10px;
    font-family: 'Manrope', sans-serif;
    border-color: transparent;
    background-color: rgba(21,27,13,.08);
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
    height: 32px;
    padding: 0 16px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all .2s ease-out;
}

.nav-button:hover {
    background-color: rgba(218, 218, 218, 0.893);
}

#button-text {
    color: #2b381f;
}

.logo-header {
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    color: #2b381f;
}

.logo-link {
    text-decoration: none;
}