.footer-module {
    background-color: rgb(26, 45, 8);
    max-width: 100%;
    margin: 0 auto;
    height: 450px;
}

.footer-header {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    color: white;
}

.footer-div {
    padding-top: 55px;
    padding-left: 15px;
}