.footer-module {
    background-color: rgb(26, 45, 8);
    max-width: 100%;
    margin: 0 auto;
    height: 450px;
}

.footer-header {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    color: white;
    font-family: 'Manrope', sans-serif;
}

.footer-div {
    padding-top: 55px;
    padding-left: 15px;
    display: flex;
}

.links-div {
    position: relative;
    left: 55%;
}

.links {
    margin-left: 20px;
    padding: 15px;
}

.links-header {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    color: white;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 15px;
}

.logo-footer {
    width: 88px;
    height: 88px;
    margin-left: 10px;
    position: relative;
    bottom: 27px;
}