.svg-edit {
    transition: transform 200ms ease-in-out 0s;
    transform: rotate(0deg);
    height: 32px;
    width: 32px;
    fill: rgb(219, 218, 210);
    padding-bottom: 5px;
    cursor: pointer;
}

.svg-edit-filled {
    fill: rgb(93, 227, 114);
}

.edit-review-div {
    height: 554px;
    width: 100%;
    position: absolute;
    top: 17%;
    z-index: 99;
}

.edit-review-modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.edit-review-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px 20px;
}

.edit-review-form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 32px;
    gap: 0px;
    padding: 12px;
    border-radius: 16px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 494px;
    box-shadow: 0 0 8px rgba(0,0,0,0.8);
    font-family: 'Manrope', sans-serif;
    height: 480px;
    width: 45%;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
}

.edit-review-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 120px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 8px;
    word-wrap: break-word;
    word-break: break-all;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: #2b381f;
    font-weight: 500;
    resize: none;
    overflow: hidden;
    line-height: 1.7;;
}

.edit-review-field:focus {
    border: 1px solid rgb(190, 190, 190);

}

.rating-star-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.edit-review-field-header {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: #2b381f;
    font-weight: 500;
    padding-bottom: 10px;
}

.edit-review-header {
    font-family: 'Manrope', sans-serif;
    font-size: 26px;
    color: #2b381f;
    font-weight: 1000;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.edit-review-button {
    font-family: 'Manrope', sans-serif;
    border-color: #2c5601;
    background-color: #2c5601;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    height: 48px;
    padding: 24px 24px;
    margin-top: 20px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 2px solid transparent;
    cursor: pointer;
    align-self: flex-end;

}

.edit-review-button:hover {
    background-color: #2b381f;
}

.star-div {
    padding-right: 6px;
}